@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-top ul li {
  border-left: 1px #99999988 solid;
  padding: 5px 30px 5px 30px;
}

.menu-contain {
  border-top: 1px #99999988 solid;
  border-right: 1px #99999988 solid;
}
.menu-contain li {
  border-left: 1px #99999988 solid;
  padding: 10px 0px 10px 10px;
  width: 10%;
}

.header-text {
  font-family: Guardian-Egyp-Web-Semibold, monospace;
}

.sub-nav ul {
  font-family: Guardian-Egyp-Web-Regular, monospace;
  border-right: 1px #99999988 solid;
  border-left: 1px #99999988 solid;
  padding: 10px 0px 10px 10px;
}

.lines {
  border-right: 1px #99999988 solid;
  border-left: 1px #99999988 solid;
}

.lines hr {
  margin-bottom: 3px;
}

.sub-nav ul a:hover {
  color: #c70000;
}

section {
  margin-top: -3px;
}

.header-section h2 {
  font-family: Guardian-Egyp-Web-Semibold, monospace;
}

section .section-contain {
  border-right: 1px #99999988 solid;
  border-left: 1px #99999988 solid;
  width: 100%;
  border-top: none;
}
.border-red {
  border-top: solid #c70000 1px;
}

.image-section {
  width: 460px;
  height: 275px;
}

@font-face {
  font-family: "Guardian-Egyp-Web-Light";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Light.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Light.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Light.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Light.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Light.svg#Guardian-Egyp-Web-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian-Egyp-Web-Regular";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular.svg#Guardian-Egyp-Web-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian-Egyp-Web-Regular-It";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular-It.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular-It.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular-It.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular-It.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Regular-It.svg#Guardian-Egyp-Web-Regular-It") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian-Egyp-Web-Medium";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Medium.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Medium.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Medium.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Medium.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Medium.svg#Guardian-Egyp-Web-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian-Egyp-Web-Semibold";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold.svg#Guardian-Egyp-Web-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian-Egyp-Web-Semibold-It";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold-It.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold-It.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold-It.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold-It.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Semibold-It.svg#Guardian-Egyp-Web-Semibold-It") format("svg");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian-Egyp-Web-Bold";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold.svg#Guardian-Egyp-Web-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian-Egyp-Web-Bold-It";
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold-It.eot");
  src: url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold-It.eot?#iefix") format("embedded-opentype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold-It.woff") format("woff"),
    url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold-It.ttf") format("truetype"), url("http://pasteup.guim.co.uk/fonts/ascii/Guardian-Egyp-Web-Bold-It.svg#Guardian-Egyp-Web-Bold-It") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
}

.Guardian-Egyp-Web-Light {
  font-family: Guardian-Egyp-Web-Light, monospace;
  font-weight: 200;
  font-style: normal;
}
.Guardian-Egyp-Web-Regular {
  font-family: Guardian-Egyp-Web-Regular, monospace;
  font-weight: normal;
  font-style: normal;
}
.Guardian-Egyp-Web-Regular-It {
  font-family: Guardian-Egyp-Web-Regular-It, monospace;
  font-weight: normal;
  font-style: italic;
}
.Guardian-Egyp-Web-Medium {
  font-family: Guardian-Egyp-Web-Medium, monospace;
  font-weight: 500;
  font-style: normal;
}
.Guardian-Egyp-Web-Semibold {
  font-family: Guardian-Egyp-Web-Semibold, monospace;
  font-weight: 600;
  font-style: normal;
}
.Guardian-Egyp-Web-Semibold-It {
  font-family: Guardian-Egyp-Web-Semibold-It, monospace;
  font-weight: 600;
  font-style: italic;
}
.Guardian-Egyp-Web-Bold {
  font-family: Guardian-Egyp-Web-Bold, monospace;
  font-weight: bold;
  font-style: normal;
}
.Guardian-Egyp-Web-Bold-It {
  font-family: Guardian-Egyp-Web-Bold-It, monospace;
  font-weight: bold;
  font-style: italic;
}
